<:Title>
  Todos Demo App

<:Body>
	<section class="todoapp">
		<header class="header">
      <:volt:notices />
			<h1>todos</h1>
      <form e-submit="add_todo">
  			<input class="new-todo" placeholder="What needs to be done?" autofocus value="{{ page._new_todo._label }}">
      </form>
		</header>
    {{ if _todos.size > 0 }}
  		<section class="main">

      	<input class="toggle-all" type="checkbox" checked="{{ all_complete }}">
      	<label for="toggle-all">Mark all as complete</label>
      	<ul class="todo-list">
          {{ filtered_todos.each do |todo| }}
            <:todo model="{{ todo }}" parent="{{ self }}" />
          {{ end }}
      	</ul>

  		</section>

  		<footer class="footer">
  			<span class="todo-count"><strong>{{ incomplete }}</strong> item{{ if incomplete != 1 }}s{{ end }} left</span>
  			<ul class="filters">
          <:nav href="/">All</:nav>
          <:nav href="/active">Active</:nav>
          <:nav href="/completed">Completed</:nav>
  			</ul>
        {{ if complete > 0 }}
    			<button class="clear-completed" e-click="clear_completed">Clear completed</button>
        {{ end }}
  		</footer>
    {{ end }}
	</section>

<:Todo>
	<li class="{{ if _completed }}completed{{ end }} {{ if editing }}editing{{ end }} todo-item">
		<div class="view">
			<input class="toggle" type="checkbox" checked="{{ _completed }}">
			<label e-dblclick="edit(event)">{{ _label }}</label>
			<button class="destroy" e-click="destroy"></button>
		</div>
    <form e-submit="stop_editing">
  		<input class="edit" value="{{ _label }}">
    </form>
	</li>

<:Nav>
  <li>
    <a class="{{ if active_tab? }}selected{{ end }}" href="{{ attrs.href }}">{{ yield }}</a>
  </li>

